
.imagem img{
    width: 250px;
    border-radius: 15px;
    border: 5px solid rgb(12, 12, 12);
}
.works-text{
  
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: bold;
  margin-top: 50px;
}

@media (max-width:450px) {
    .works-text{
        font-size: 12px;
        margin-top: 30px;
    }
    
}
.sites img{
    width: 300px;
    border-radius: 15px;
    border: 5px solid rgb(12, 12, 12);
}
